.text-type {
    display: inline-block;
}

.text-type__content {
    white-space: pre-wrap;
}

.text-type__cursor {
    display: inline-block;
    margin-left: 0.1em;
}

.text-type__cursor--hidden {
    opacity: 0;
}